@import 'tailwindcss';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
    --font-sans:
        'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --color-primary: #4f46e5;
    --color-primary-hover: #4338ca;
    --color-accent: #10b981;
    --color-warning: #f59e0b;
    --color-danger: #f43f5e;
    --color-neutral-50: #f8fafc;
    --color-neutral-100: #f1f5f9;
    --color-neutral-500: #64748b;
    --color-neutral-900: #0f172a;
    --color-focus: #22d3ee;
}

body {
    font-family: var(--font-sans);
    background-color: var(--color-neutral-50);
}
